
<h4><strong>Fundamentación</strong></h4>
<p>La Oficina Central de Autoevaluación, Acreditación y Certificación Universitaria, dentro de las actividades programadas ha dispuesto organizar el  curso Autoevaluación de Carreras Profesionales y Sistema de Gestión de la Calidad, con la finalidad de seguir promoviendo un clima de permanente actualización en los procesos que el modelo CONEAU menciona para la acreditación de carreras profesionales y fomentar una cultura de calidad en la Universidad  Nacional José Faustino Sánchez Carrión. </p>

<h4><strong>Objetivos</strong></h4>
<dl>
    <dt>1. Objetivo General</dt>
        <dd>Capacitar al personal administrativo en el proceso de autoevaluación para la acreditación de carreras profesionales.</dd>
    <dt>2. Objetivos Específicos</dt>
        <dd>2.1. Explicar el proceso de autoevaluación y acreditación de carreras profesionales.</dd>
        <dd>2.2. Fomentar la cultura de calidad, a través de un Sistema de Gestión de la Calidad.</dd>    
</dl>

<h4><strong>Dirigido a</strong></h4>
<p>Personal administrativo de la Universidad Nacional José Faustino Sánchez Carrión. </p>

<h4><strong>Fecha y Horario</strong></h4>
<p>Martes 13 de agosto de 3:00 p.m.  a 6:00 p.m.</p>

<h4><strong>Temas</strong></h4>
<dl>
    <dt>1. Calidad Educativa en Educación Superior</dt>
        <dd>Mg. Carreño Cisneros Edgardo Octavio</dd>
    <dt>2. Sistema de Gestión de la Calidad</dt>
        <dd>Mg. Arias Pitman José Augusto</dd>
    <dt>3. Autoevaluación y acreditación de carreras profesionales</dt>
        <dd>Mg. Mejía Dominguez Cecilia Maura</dd>
</dl>

<img src="http://www.acreditacionunjfsc.com/imagenesocaacu/DSC02912.jpg" style="width:475px; height:350px;" />
Seminario, 13 de agosto del 2013.

<a href="#">Materiales del Evento</a>

<dl>
    <dt>"Si piensas en calidad, obras con calidad y exiges calidad, considérate parte de ella"</dt>
        <dd>Dr. Milber Ureña</dd>
</dl>